
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('fatec.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.login-container {
    background-color: rgba(255, 247, 247, 0.76);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px); 
    text-align: center;
}

.login-container h2 {
    font-size: 20px;
    color: #af4c4c;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #af4c4c;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(175, 76, 76, 0.2);
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #af4c4c, #ec976f);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(90deg, #e03b12, #b13707);
}
