
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-image: url('fatec.jpg'); 
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        .form-container {
            background-color: rgba(255, 255, 255, 0.9); 
            border-radius: 12px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
            padding: 40px;
            width: 100%;
            max-width: 450px;
            backdrop-filter: blur(10px);
            text-align: center;
        }

        .form-container h2 {
            font-size: 24px;
            color: #e03b12; 
            margin-bottom: 20px;
        }

        label {
            font-size: 16px;
            margin-bottom: 8px;
            display: block;
            text-align: left;
            color: #555;
        }

        input[type="number"] {
            width: 100%;
            padding: 12px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            font-size: 14px;
            transition: all 0.3s ease;
            background-color: #f9f9f9;
        }

        input[type="number"]:focus {
            border-color: #e03b12; 
            background-color: #fff;
            box-shadow: 0 0 5px rgba(224, 59, 18, 0.2);
            outline: none;
        }

        button {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .btn-remover {
         background: linear-gradient(90deg, #af4c4c, #ec976f);
            color: white;
        }

        .btn-remover:hover {
         background: linear-gradient(90deg, #e03b12, #b13707);
        }

        .btn-visualizar {
            background: #4CAF50; 
            color: white;
        }

        .btn-visualizar:hover {
            background: #388E3C;
        }
    